<div class="container mt-3">
    <h1><div class="mb-3 mt-3">
        Reset Your Password</div>
    </h1>

    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Enter Your Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Enter New Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Confirm New Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
   
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Reset Your Password</button>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" routerLink="/Vendorlogin">Back to login</button>
        </div>
      </div>
